html,
body,
.app {
    background-color: #eee;
    padding: 1em;
    height: 100vh;
}

.messages {
    height: 610px;
    overflow-y: scroll;
}

.message__form {
    position: fixed !important;
    bottom: 1em;
    margin-left: 320px !important;
    left: 1em;
    right: 1em;
}

.message__self {
    border-left: 2px solid orange;
    padding-left: 8px;
}

.message__image {
    padding: 1em;
}

.progress__bar {
    margin: 0.3em 0 0 0 !important;
}

.menu {
    padding-bottom: 2em;
}